rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Quizzes & Questions - full access for app features & admin
    match /quizzes/{quizId} {
      allow read, write: if true;
      
      match /questions/{questionId} {
        allow read, write: if true;
      }
    }
    
    // Participant User Profiles
    match /users/{userId} {
      allow read, create, update: if true;
    }
    
    // Quiz Attempts & Leaderboards
    match /quizAttempts/{attemptId} {
      allow read, create, update: if true;
    }
  }
}
